<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>creatrestaurant</title>
</head>
<body style="background-color: #E2979C;">
    <div class="w3-col s3"><p></p></div>
    <div class="w3-col s6" style="text-align: center; height: 100vh;background-color: #BED3F6; ">
        <h2>Creat New Restaurant</h2>
        <hr>
        <form action="/api/creatrestaurant" method="POST">
        <h3>Restaurant Detail</h3>
        <input type="text" name="name" placeholder="name" style="border-radius: 30px;height: 5vh; width: 80%; text-align: center; " required><br><br>
        <input type="text" name="borough" placeholder="borough" style="border-radius: 30px;height: 5vh; width: 80%; text-align: center; "><br><br>
        <input type="text" name="cuisine" placeholder="cuisine" style="border-radius: 30px;height: 5vh; width: 80%; text-align: center; " ><br><br>

       <lable>Restaurant photo:      </lable> <input type="file" name="photo" style="margin-left: 9%;">
       <br>
       <h3>Address</h3>
       <input type="text" name="street" placeholder="street" style="border-radius: 30px;height: 5vh; width: 80%; text-align: center; ">
        <input type="text" name="building" placeholder="building" style="border-radius: 30px;height: 5vh; width: 80%; text-align: center; " >
        <input type="text" name="zipcode" placeholder="zipcode" style="border-radius: 30px;height: 5vh; width: 80%; text-align: center; ">
        <input type="text" name="coord" placeholder="coordx" style="border-radius: 30px;height: 5vh; width: 40%; text-align: center; " >
        <input type="text" name="coord" placeholder="coordy" style="border-radius: 30px;height: 5vh; width: 40%; text-align: center; " >
        <hr>
        <h3>Grade</h3>
        <input type="number" name="score" placeholder="score" min="1" max="10" style="border-radius: 30px;height: 5vh; width: 80%; text-align: center; ">
        <input type="submit" value="creat" style="width:30%;border-radius: 30px;height: 5vh;">
        </form>
    </div>
</body>
</html>