<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rate Restaurant</title>
</head>
<body>
    <form action="/api/restaurant/<%=resid%>/rate" method="POST">
        <input type="number" name="score" min="1" max="10">
        <input type="submit">
    </form>
</body>
</html>