<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test register</title>
</head>
<body>
    <form action="/api/register" method="POST">
        firstname: <input type="text" name="firstname">
        <br>
        lastname: <input type="text" name="lastname">
        <br>
        username: <input type="text" name="username">
        <br>
        password: <input type="password" name="password">
        <br>
        <input type="submit" value="register">
    </form>
</body>
</html>