<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Warn</title>
</head>
<body>
    <div class="w3-col s12" style="height: 70vh;background-color: aquamarine;padding-top: 30Vh;">
    <h1 style="text-align: center; font-size: 45px;">You can not do this activity because you are not the restaurant owner </h1>
    </div>
</body>
</html>